node_modules

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
# !.yarn/sdks
!.yarn/versions

/build

.eslintcache
react-app-env.d.ts
yarn-debug.log*
yarn-error.log*
# .editorconfig